{
    debug
    admin off
    order confidentiality after encode
    confidentiality_doc_link "https://copy.sh/v86"
}

http://localhost:2015 {
    header Content-Security-Policy "default-src https:; object-src 'none'"
    confidentiality internal
    root * test/
    file_server
    request_header -If-Modified-Since
    request_header -If-None-Match
    header {
        -Etag
    }
}
